<?xml version="1.0" encoding="UTF-8"?>

<!-- beans:javabean
     spring是一个放java对象的容器,把放在spring中的java对象称为javabean
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!-- 在spring中,可以把配置文件分散到各个模块中,然后再总的配置文件中,使用import元素引入这些配置文件;
        1,默认情况下,使用相对路径寻找配置文件
        2,Spring提供了两种前缀标记来辅助查找配置文件;
            1,[classpath:]:代表从classpath开始寻找后面的资源文件;(推荐使用)
            2,[file:]:代表使用文件系统的方式寻找后面的文件(文件的完整路径);

    <import resource="com/_520it/spring/day2/name/SpringTest-context.xml"/> -->


    <!-- bean:配置一个需要spring管理的javabean
        id:这一个javabean的名字(唯一)
        class:这个javabean的类型,spring就是靠这个类型来实例化这个bean的;

    <bean id="helloworld" class="com._520it.spring.day1.hello.HelloWorld"/> -->



</beans>