<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd" default-lazy-init="true">


    <bean id="student_factory" name="student_factory" class="bean.StudentFactory"/>

    <bean id="student_7" name="student_7_name" class="bean.Student" factory-bean="student_factory" factory-method="create2">
        <property name="id" value="7"/>
        <property name="name" value="zhaoqi"/>
        <property name="age" value="27"/>
    </bean>


</beans>