<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="student_1" name="student_1" class="bean.Student"
          init-method="init" destroy-method="close" scope="prototype">
        <property name="id" value="1"/>
        <property name="name" value="prototype"/>
        <property name="age" value="21"/>
    </bean>

    <bean id="student_2" name="student_2" class="bean.Student"
          init-method="init" destroy-method="close" scope="singleton">
        <property name="id" value="2"/>
        <property name="name" value="singleton"/>
        <property name="age" value="22"/>
    </bean>

</beans>